@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
}
body {
    background-color: #6ccdd5;
}
.container {
    width: 40%;
    margin: 0 auto;
}

.arrow {
    margin: 5% 0;
}

.logo {
    text-align: center;
    margin-top: 10%;
}

.brief {
    color: white;
    width: 40%;
    line-height: 1.5;
    margin: 0 auto;
    padding-top: 15%;
    font-size: 1.4rem;
    font-weight: 200;
}

.ct {
    margin-top: 20%;
}
.ct:after {
    content: '';
    display: block;
    clear: both;
}

.user {
    float: left;
    color: white;
    padding-left: 20%;
}

.name {
    float: right;
    color: white;
    padding-right: 20%;
}