* {
  box-sizing: border-box;
  font-family: '微软雅黑' !important;
}

#app {
  position: relative;

  width:300px;
  height: 360px;
  border-radius: 20px;
  background-color: #eef1f2;
  box-shadow: 3px 8px 4px #999;
  transform: translate(50%,50%);
}

#header, #main {
  height:33.3%;
}

#header .pic{
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#main {
  padding: 13% 8%;
  background-color: #eef1f2;
}

#main .artist {
  font-size: 18px;
  padding-bottom: 20px;
}

#main .title {
  font-size: 14px;

}
#footer {
  display: flex;
  flex-direction: column;

  padding: 8% 8% 4% 8%;
  height: 33.3%;
  background-color: rgb(238,241,242);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#footer .processBar {
  position: relative;
}

.processBar .backBar{
  height: 5px;
  border-radius: 10px;
  background-color: #414141;
  cursor: pointer;
}

.processBar .frontBar {
  position: absolute;
  top: 0;
  left: 0;

  height: 5px;
  border-radius: 10px;
  background-color: #cbd0d5;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex: auto;
  align-items: center;

  color: #414141;
}

.buttons .startOrPause {
  position: relative;
  width: 50px;
  height: 57px;

}
.buttons .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons .pause {
  font-size: 50px;
  cursor: pointer;
  transition: all .3s;
}

.buttons .start {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  font-size: 50px;
  cursor: pointer;
  transition: all .3s;
}

.pre, .next, .listIcon {
  font-size: 30px;
  cursor: pointer;
  transition: all .3s;
}

.pause:hover,
.start:hover,
.pre:hover,
.next:hover,
.listIcon:hover {
  color: #555;
}

#list {
  position: absolute;
  left: 306px;
  bottom: 0;
  z-index: -1;
  display: none;
}

#list ul {
  margin: 0;
  padding: 0;

  width: 200px;
  height: 300px;
  overflow: scroll;
  list-style: none;
  border-radius: 20px;
  box-shadow: 3px 8px 4px #999;;
}

#list ul::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  border-radius: 20px;
  background-image: linear-gradient(to bottom , #777, #444, #777 );
}

#list ul::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

#list ul::-webkit-scrollbar:horizontal {
  display: none;
}

#list ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}


#list li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  background-color: #eef1f2;
  cursor: pointer;
  transition: all .3s;

}

#list li:hover {
  background-color: whitesmoke;
}